.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 15% auto;
  padding: 40px;
  max-width: 500px;
  max-height: 500px;
  /* height: 70vh; */

  font-size: 35px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.error {
  font-size: 100px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;

  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;

  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;

  cursor: pointer;

  transition: all 250ms ease;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}